<!DOCTYPE html>
<html>
  <head>
    <title>DeviseDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= content_tag(:div, flash.notice, class: 'alert alert-info', role: 'alert', style: 'margin:20px') if flash.notice %>
    <%= content_tag(:div, flash.alert, class: 'alert alert-danger', role: 'alert', style: 'margin:20px') if flash.alert %>
    <%= yield %>
  </body>
</html>
